@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 20px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav_logo img {
    width: 120px;
    height: 36px;
}

.header__nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.header__nav_logo_desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    flex-direction: column;
}

.header__nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header__nav_list_link {
    color: black;
    font-size: 16px;
}

.header__nav_list_link img {
    width: 16px;
    height: 16px;
}

.call__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* Main */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    position: relative;
    background: linear-gradient(135deg, #ffffff 45%, #fffde7 55%);
}

.main__left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.main__left_title {
    color: black;
    font-size: 70px;
    max-width: 700px;
}

.main__left_title span {
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    background-clip: text;
    color: transparent;
}

.main__left_desc {
    color: grey;
    font-size: 20px;
    max-width: 430px;
    line-height: 30px;
}

.main__left_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main__left_btns_offer {
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    gap: 10px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main__left_btns_watch {
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    gap: 10px;
    font-size: 16px;
    background: none;
    transition: 0.3s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.main__left_btns_watch:hover {
    background: black;
    color: white;
}

.main__right_black {
    width: 320px;
    height: 200px;
    background: black;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    right: 230px;
    z-index: 1;
}

.main__right_purple {
    width: 320px;
    height: 200px;
    background: #610e9d;
    border-radius: 30px;
    position: absolute;
    top: 230px;
    right: 208px;
}

.main__right_gradient {
    width: 320px;
    height: 200px;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    border-radius: 30px;
    position: absolute;
    top: 210px;
    right: 108px;
    z-index: 2;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.main__right_gradient_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.main__right_gradient_logos img {
    width: 100px;
    height: 30px;
}

.main__right_gradient_empty {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background: #ffdf20;
}

.main__right_gradient_data {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 26px;

}

.main__right_gradient_data_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__right_gradient_data_desc_left {
    font-size: 12px;
    max-width: 90px;
}

.main__right_gradient_data_desc_right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-size: 12px;
    max-width: 130px;

}

/* Карты */

.cards {
    margin-top: 40px;
}

.cards__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cards__wrap_title {
    font-size: 34px;
}

.cards__wrap_desc {
    font-size: 20px;
    color: grey;
}

.cards__wrap_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cards__wrap_list_link {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 18px;
    color: black;
    padding: 5px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.cards__wrap_list_link span {
    background: #d3d3d3;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 10px;
}

.cards__wrap_list_link:hover {
    border: 1px solid black;
    background: #f5f5f5;
}

/* Все карты */

.cards__down {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0;
}

/* Сама карточка */

.cards__down_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
    border-radius: 20px;
}

.cards__down_card_left {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.cards__down_card_left-type {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
}

.cards__down_card_left-type_geo {
    background: black;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

.cards__down_card_left-type_title {
    font-size: 26px;
    font-weight: 700;
}

.cards__down_card_left-desc {
    color: grey;
    font-size: 18px;
    max-width: 500px;
    font-weight: 500;
}

.cards__down_card_left-ben {
    display: flex;
    gap: 120px;
}

.cards__down_card_left-ben_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
}

.cards__down_card_left-ben_left span {
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.cards__down_card_left-ben_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
}

.cards__down_card_left-ben_right span {
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.cards__down_card_left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cards__down_card_left-info_par {
    font-size: 14px;
    color: grey;
    gap: 8px;
    display: flex;
    align-items: center;
}

.cards__down_card_left-info_par span {
    border-radius: 50%;
    background: #76C776;
    width: 7px;
    height: 7px;
    display: inline-block;
}

.cards__down_card_left-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.cards__down_card_left-btns_offer {
    width: 100%;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    gap: 10px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards__down_card_left-btns_about {
    width: 100%;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    gap: 10px;
    font-size: 16px;
    background: none;
    transition: 0.3s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards__down_card_right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 360px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    margin-right: 150px;
    transition: 0.6s ease;
}

.cards__down_card_right:hover {
    transform: scale(1.1);
}

.cards__down_card_right-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__down_card_right-logos_title img {
    height: 14px;
    width: 50px;
}

.cards__down_card_right-logos_title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.cards__down_card_right-logos_title span {
    font-size: 20px;
    font-weight: 700;
}

.cards__down_card_right-logos_type {
    font-size: 16px;
    font-weight: 700;
}

.cards__down_card_right-num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.cards__down_card_right-num_yellow {
    background: #ffdf20;
    width: 40px;
    height: 30px;
    border-radius: 10px;
}

.cards__down_card_right-num_num {
    font-size: 20px;
    font-weight: 600;
    transform: scaleX(1.3);
    transform-origin: left;
}

.cards__down_card_right-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__down_card_right-data_date {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
    font-size: 10px;
    text-transform: uppercase;
}

.cards__down_card_right-data_date span {
    font-weight: 600;
    font-size: 16px;
}

.cards__down_card_right-data_holder {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 6px;
    font-size: 10px;
    text-transform: uppercase;
}

.cards__down_card_right-data_holder span {
    font-weight: 600;
    font-size: 10px;
}

/* humo */

.humo .cards__down_card_left-btns_offer {
    background: #21db78;
}

.humo .cards__down_card_right {
    background: #21db78;
}

.humo .cards__down_card_right {
    color: white;
}

/* mastercard */

.mastercard .cards__down_card_left-type_geo {
    color: #8B0000;
    background: #ffd0d0;
}

.mastercard .cards__down_card_left-btns_offer {
    background: radial-gradient(circle, #FFA07A, #FF6347);
}

.mastercard .cards__down_card_right {
    background: radial-gradient(circle, #FFA07A, #FF6347);

}

.mastercard .cards__down_card_right-logos_type {
    color: #fff;
    background: #ff5656;
    padding: 6px;
}

/* platinum */

.platinum .cards__down_card_left-type_geo {
    color: #a021db;
    background: #dfacf7;
}

.platinum .cards__down_card_right {
    background: linear-gradient(to left, #000000, #434343);
    color: white;
}

.platinum .cards__down_card_left-btns_offer {
    background: linear-gradient(to left, #000000, #434343);
}

/* infinite */

.infinite .cards__down_card_left-type_geo {
    color: #C9B36D;
    background: #FCEFAA;
}

.infinite .cards__down_card_left-btns_offer {
    background: linear-gradient(to right, #7f8c8d, #2c3e50);
}

.infinite .cards__down_card_right {
    background: linear-gradient(to right, #7f8c8d, #2c3e50);
    color: #fff;
}

/* ms black */

.mb .cards__down_card_left-btns_offer {
    background: #000;
}

.mb .cards__down_card_right {
    background: linear-gradient(to right, #000000, #434343);
    color: #fff;
}

.mb .cards__down_card_right-logos_type {
    background: #ff5656;
    padding: 6px;
}

/* world */

.world .cards__down_card_left-type_geo {
    color: #a021db;
    background: #dfacf7;
}

.world .cards__down_card_left-btns_offer {
    background: linear-gradient(to bottom right, #8e44ad, #000000);
}

.world .cards__down_card_right {
    background: linear-gradient(to bottom right, #8e44ad, #000000);
    color: #fff;
}

.world .cards__down_card_right-logos_type {
    background: #ff5656;
    padding: 6px;
}


/* Блок почему выбирают */

.pick {
    padding: 60px 0;
}

.pick__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.pick__desc_title {
    font-size: 26px;
    font-weight: 700;
}

.pick__desc_p {
    font-size: 18px;
    color: grey;
    max-width: 480px;
    text-align: center;
}

.pick__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
    gap: 30px;
}

.pick__cards_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: #f9fafc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 20px;
    border-radius: 10px;

}

.pick__cards_piece-img {
    background: #00ab41;
    color: #fff;
    padding: 10px 14px;
    border-radius: 10px;
    transition: 0.6s ease;

}

.pick__cards_piece-img:hover {
    transform: rotate(30deg);
}

.pick__cards_piece-title {
    font-size: 18px;
    font-weight: 700;
}

.pick__cards_piece-desc {
    font-size: 12px;
    color: grey;
    max-width: 240px;
    text-align: center;
}

/* internet */

.internet .pick__cards_piece-img {
    background: blue;
}

/* paymnets */

.payments .pick__cards_piece-img {
    background: rgb(79, 79, 168);
}

/* card */

.card .pick__cards_piece-img {
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
}

/* daily */

.daily .pick__cards_piece-img {
    background: radial-gradient(circle, #ce0808, #FF6347);
}

/* support */

.support .pick__cards_piece-img {
    background: #007906;
}

/* Блок хуйни */

.ready {
    background: linear-gradient(135deg, #2B1B1B, #0D0000);
    padding: 60px 0;
}

.ready__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.ready__top_title {
    font-size: 40px;
    color: #fff;
    max-width: 400px;
    text-align: center;
}

.ready__top_title span {
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    color: transparent;
    background-clip: text;
}

.rady__top_p {
    color: rgb(190, 189, 189);
    font-size: 18px;
    text-align: center;
    max-width: 660px;
}

.ready__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.ready__cards_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background: #220f01;
    padding: 20px 40px;
    border-radius: 14px;
}

.ready__cards_piece-img {
    border-radius: 10px;
    padding: 6px 10px;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);

}

.ready__cards_piece-title {
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

.ready__cards_piece-desc {
    font-size: 12px;
    color: rgb(163, 163, 163);
    max-width: 200px;
    text-align: center;
}


.ready__fnct {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 40px;
}

.ready__fnct-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ready__fnct-btns_offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    padding: 4px 30px;
    border-radius: 20px;
    color: #fff;
}

.ready__fnct-btns_consult {
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 30px;
    background: none;
}



.ready__fnct-sup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ready__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ready__wrap::after {
    display: block;
    content: '';
    height: 1px;
    width: 1000px;
    background: grey;
    margin-top: 40px;
}

.ready__fnct-sup_call::after {
    display: block;
    content: '';
    width: 1px;
    height: 13px;
    background: grey;
    margin-left: 20px;
}

.ready__fnct-sup_call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: grey;
    font-size: 12px;
}

.ready__fnct-sup_call-btn {
    color: rgb(214, 184, 13);
    font-size: 13px;
}

.ready__fnct-sup_chat {
    color: rgb(214, 184, 13);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ready__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ready__list_par {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: grey;
    font-size: 14px;
    margin-top: 40px;
}

.ready__list_par span {
    border-radius: 50%;
    background: #76C776;
    width: 7px;
    height: 7px;
    display: inline-block;
}



/* капитал банк в цифрах */

.numbers {
    padding: 60px 0;
    background: #000;
}

.numbers__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.numbers__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.numbers__top_title {
    font-size: 30px;
    color: rgb(197, 168, 4);
}

.numbers__top_desc {
    color: rgb(197, 168, 4);
    font-style: 16px;
}

.numbers__cads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: repeat(1, 1fr);
}

.numbers__cads_piece {
    background: linear-gradient(135deg, #4A3A00, #2A1F00);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    transition: 0.6s ease;
}

.numbers__cads_piece:hover {
    transform: scale(1.06);
}

.numbers__cads_piece-title {
    color: #FFD700;
    font-size: 36px;
}

.numbers__cads_piece-p {
    color: #FFD700;
    font-size: 15px
}

.numbers__cads_piece-desc {
    font-size: 12px;
    color: #FFC107
}

/* footer */

.footer {
    background: #000;
    padding: 60px 0;
}



.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__top_kapital {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.footer__top_kapital-par img {
    width: 80px;
    height: 20px;
}

.footer__top_kapital-par {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.footer__top_kapital-par_title_h {
    color: #fff;
    font-size: 20px;
}

.footer__top_kapital-par_title_p {
    color: grey;
    font-size: 12px;
    max-width: 100px;
}

.footer__top_kapital-text {
    font-size: 14px;
    color: rgb(209, 207, 207);
    max-width: 220px;
}

.footer__top_kapital_btn {
    padding: 6px 14px;
    color: #fff;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.footer__top_service {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.footer__top_service-title {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.footer__top_service-par a {
    color: rgb(209, 207, 207);
    font-size: 14px;
}

.footer__top_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer__top_contacts-title {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.footer__top_contacts-par {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__top_contacts-par_img {
    padding: 8px;
    background: linear-gradient(135deg, #CCAA00, #996600);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__top_contacts-par_desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.footer__top_contacts-par_desc-link {
    color: #fff;
    font-size: 14px;
}

.footer__top_contacts-par_desc-p {
    font-size: 12px;
    color: rgb(209, 207, 207);

}

.footer__top_contacts-par_desc {
    color: #fff;
    font-size: 14px;
}

.footer__top_support {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.footer__top_support_title {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.footer__top_support-par {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__top_support-par_img {
    padding: 8px;
    background: #21db78;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer__top_support-par_desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.footer__top_support-par_desc-link {
    color: #fff;
    font-size: 14px;
}

.footer__top_support-par_desc-p {
    font-size: 12px;
    color: rgb(209, 207, 207);
}

.otdel .footer__top_support-par_img {
    background: blue;
}

.otdel .footer__top_support-par_desc {
    color: #fff;
    font-size: 14px;
}

.block .footer__top_support-par_img {
    background: rgb(79, 79, 168);
}

.block .footer__top_support-par_desc {
    color: #fff;
    font-size: 14px;
}

.footer__wrap::after {
    display: block;
    content: '';
    background: rgb(36, 36, 36);
    width: content;
    height: 1px;
    margin-top: 40px;
}

.footer__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer__down-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    font-size: 12px;
    color: rgb(136, 136, 136);
}

.footer__down-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: rgb(136, 136, 136);
}

.chat__btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

body{
    position: relative;
}

button{
    cursor: pointer;
}

.chat{
    width: 340px;
    height: 600px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat__top{
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right, #ffa500 0%, #ff6a00 70%, #f04800 100%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
    padding: 20px 20px;
    height: 16%;
}

.chat__top-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;    
}

.chat__top-main_logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.chat__top-main_logo-img img{
    height: 20px;
    width: 60px;
}

.chat__top-main_logo-desc{
    display: flex;
    flex-direction: column;
}

.chat__top-main_logo-desc_title{
    font-size: 16px;
    font-weight: 700;
}

.chat__top-main_logo-desc_p{
    font-size: 13px;
}

.chat__top-main_btn{
    background: none;
}

.chat__top-desc{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.chat__top-desc span{
    background: rgb(130, 196, 130);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.chat__main{
    height: 64%;
    background: #fff;
}

/* .chat__down::before{
    display: block;
    content: '';
    width: 100%;
    background: rgb(143, 143, 143);
    height: 1px;
}

.chat__down{
    height: 20%;
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.chat__down {
    position: relative; 
    height: 20%;
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat__down::before {
    content: '';
    display: block;
    width: 100%; 
    height: 1px; 
    background-color: rgb(209, 209, 209); 
    position: absolute; 
    top: 0; 
    left: 0; 
}


.chat__down-btns{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.chat__down-btns_inp{
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(238, 238, 238);
    padding: 10px 14px;

}

.chat__down-btns_inp:focus{
    border: 2px solid rgb(240, 191, 29, 1);
}

.chat__down-btns_send{
    padding: 4px 14px;
    background: linear-gradient(to right, #ffa500 0%, #ff6a00 70%, #f04800 100%);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.4;
}

.chat__down-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat__down-links_call{
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.chat__down-links_call-link{
        color: grey;
    font-size: 11px;
}

.chat__down-links_time{
            color: grey;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

